{% comment %}
 - Forced format of response that we want to get from OpenAI API.
{% endcomment %}
{%- parse_json response_format_schema_json -%}
{
  "tags": {
    "type": "array",
    "items": {
      "type": "string"
    }
  }
}
{%- endparse_json -%}


{%- capture user_message -%}
Based on post content and attached images (if available) create hashtags for this post. I'll give you some example hashtags that You can use if some of them fits. Pick only tags that fits content directly. If there's no hashtags that fits, propose new. Always add hash sign (#) to tag, even for example tags. Please use no more than 3-4 hashtags.

Example hashtags: #javascript #coding #ui.
Post content: 🍎 Apple Unveils “Liquid Glass” UI: A New Era of Interface Design
At WWDC, Apple introduced Liquid Glass — a stunning new UI paradigm that blends fluid motion, depth, and responsiveness like never before.
This isn’t just a visual refresh — it’s a shift toward interfaces that feel alive. With dynamic translucency, smooth curvature, and motion that responds to context, Liquid Glass is designed to blur the line between digital and physical.
It’s a bold move that could reshape how users interact with devices — more intuitive, more immersive, more human.
Exciting times ahead for designers and developers.
{%- endcapture -%}


{%- parse_json request_object -%}
{
  "system_message": "You are helpful professional copywriter. You help tagging content of posts.",
  "user_message": "{{user_message}}",
  "user_images": {{ '[]' | parse_json }},
  "response_format_schema_json": {{ response_format_schema_json }},
  "model": "gpt-4o-mini"
}
{%- endparse_json -%}


{%- liquid
  function response_object = 'modules/openai/commands/openai/responses/create', object: request_object
-%}
<html>
  <head>
    <title>OpenAI Responses Create</title>
    <style>
      html, body {
        font-family: Arial, sans-serif;
        padding: 0;
        margin: 0;
        line-height: 1.6;
      }
      main {
        max-width: 1024px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
      div {
        margin-bottom: 20px;
        width: 100%;
      }
      pre {
        background-color: #f4f4f4;
        padding: 10px;
        border-radius: 5px;

        overflow-x: auto;
        color: #333;
      }
    </style>
  </head>
  <body>
    <main>
      <h2>OpenAI Request</h2>
      <div>
        <pre id="openai-request"></pre>
      </div>

      <h2>OpenAI Response</h2>
      <pre id="openai-response"></pre>
    </main>
  </body>
  <script>
    document.getElementById("openai-request").textContent = JSON.stringify({{ request_object }}, null, 2);
    document.getElementById("openai-response").textContent = JSON.stringify({{ response_object }}, null, 2);
  </script>
</html>
